body {
  background-color: #fcf7e9;
  font-family: 'Silkscreen', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-weight: bolder;
}

.app {
  background: #465229;
  border: 3px solid #829c45;
  padding: 10px;
  border-radius: 00px;
  text-align: center;
  box-shadow: 5px 5px 15px #ffb3c6;
}

h1 {
  color: #0e0d0d;
  font-size: 1.5rem;
  text-align: center;
  font-weight: bolder;
}
.timer {
  font-size: 2rem;
  color: #000000;
}

.buttons button {
  background: #ffffff;
  border: 3px solid #9cb459;
  padding: 10px 10px;
  margin: 3px;

  border-radius: 00px;
  color: rgb(7, 7, 7);
  font-size: 1rem;
  font-family: 'Silkscreen', cursive;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.1s ease;
}

.buttons button:hover {
  background: #95b86e;
  transform: scale(1.05);
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.kawaii-image {
  width: 100px;
  height: 100px;
  margin-right: 10px;
}


.spinning-flower img {
  animation: spin 2s linear infinite;
}
.timer-container {
  background-color: #eaf8d3;
  border: 3px dashed #81b143;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 250px;
}

.center-image {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
}

.browser-window {
  width: 100%;
  max-width: 800px;
  background: #e1f5c7;
  border: 3px solid #7eaf51;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 5px 5px 15px #d9f19f;
}

.browser-header {
  background: #95c06c;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.browser-buttons {
  display: flex;
  gap: 5px;
}

.close-btn,
.minimize-btn,
.maximize-btn {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
}

.close-btn {
  background: #dbf7a8;
}

.minimize-btn {
  background: #f3f7f0;
}

.maximize-btn {
  background: #fad3fd;
}


